body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 15px;
}

.card {
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-front {
    background-color: #ecf0f1;
}

.card-back {
    background-color: #2ecc71; 
    transform: rotateY(180deg);
}

.card-back.red {
    background-color: #e74c3c; 
}

.card img {
    width: 150px;
    height: 150px;
     border-radius: 10px;
}

#refreshButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}


#status {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
